@charset "utf-8";
body,h1,ul,li{
	margin: 0;
	padding: 0;
}/**代表所有的标签*/
body{
	background-color: #F1F1F1;
	font-size: 12px;
	font-family: 微软雅黑，Arial,sans-serif;
	color: #272727;
}
ul,ol{
	list-style: none;
}
.none{
	display: none;/*不显示*/
}
#header{
	width: 100%;/*与body宽度一致*/
	background-color: #ffffff;
	min-width: 1200px;/*防止页面变形*/
}
.top-bar{
    background-color: #F1F1F1;
    height: 42px;
}
.wrap-center{
    margin: 0 auto;
	width: 1200px;
}
.top-bar .top-welcome{
	height: 42px;
	line-height: 42px;
	float: left;
}/*头部欢迎区域*/
.top-bar .top-welcome a{
	text-decoration: none;
}
.top-welcome .top-login-link{
    color: #E70014;
    padding-left: 15px;
    padding-right: 10px;
}
.top-welcome .top-reg-link{
	color: #272727
}
.top-welcome .top-login-link:hover{
	text-decoration: underline;
	color: #e70014;
}
.top-welcome .top-reg-link:hover{
	text-decoration: underline;
	color: #e70014;
}
.top-bar .top-user-nav{
	float: right;
}/*头部用户导航区域*/
.top-user-nav li{
	float: left;
	height: 42px;
	line-height: 42px;
}
.top-user-nav li a{
	color: #272727;
	text-decoration: none;
}
.top-user-nav li a:hover{
	color: #e70014;
}
.top-user-nav .nav-split{
	color: #ccc;
	margin:0px 5px;
}
/*log+search*/
.m-bar{

}
.m-bar-padding{
	padding:18px 0;
}
.m-bar h1{
	float: left;
	text-indent: -9999px;/*将字去掉*/
	background-image: url(../images/log.png);
    width: 400px;
    height: 62px;
}
.top-shopping,.top-search{
	float: right;
}
.top-shopping{
	margin-left: 30px;
}
.clear{
	clear: both;
}
.top-shopping a{
	display: block;
	height: 34px;
	line-height: 34px;
	background-color: #ff9900;
	color: #fff;
	padding: 0 30px 0 20px;
	font-size: 14px;
	text-decoration: none;
}
.top-search input[type='text']{
	float: left;
	width: 450px;
	height: 32px;
	background-color: #fff;
	border: 1px solid #e70014;
	outline: none;
	padding: 0;
	text-indent: 10px;
}
/*找input属性中text属性的元素*/
.top-search input[type='button']{
	float: left;/*和text同时设置使变成内联块*/
	height: 34px;
	width: 70px;
	background-color: #e70014;
	outline: none;
	border: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.top-search .search_link{
	margin-top: 5px;
	padding-left: 10px;
	line-height: 3;
}
.search_link a{
	padding: 0 5px;
	text-decoration: none;
	outline: 0;
	transition: all 0.3s ease;
	color: #7a7a7a;

}

.search_link a:hover{
	color: #e70014; 
}
/*网站主导航*/
.b-bar{
    font-size: 16px;
    color: #ffffff;
}
.b-bar .product-nav,.b-bar nav{
	float: left;
}
.b-bar .app-link{
	float: right;
}
.b-bar nav li{
	float: left;
}
.nav-background{
	background-color: #404040;
}
.product-nav{
	width:215px;
	height: 44px;
	background-color: #e70014;
	line-height: 44px;
	text-align: center;
	margin-right: 20px;
}
.b-bar nav li a{
	display: block;
	text-decoration: none;
	padding: 0 30px;
	color: #ffffff;
	height: 44px;
	line-height: 44px;
}
.b-bar nav li a:hover{
	color: #e70014;
}
.b-bar .app-link{
	height: 44px;
	line-height: 44px;
	margin-right: 20px;
}
.app-link a{
	display: block;
	height: 44px;
	line-height: 44px;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.app-link a:hover{
	color: #e70014;
}
.app-link a img{
	vertical-align: middle;
	margin-right: 5px;
}
/*尾部样式*/
#footer{
	background-color: #404040;
}
#footer .foot-top{
	background-color: #e70014;
	border: 1px solid red;
}
#footer .foot-top ul li{
	display: inline-block;
	width: 23%;
	padding: 15px 0;
}
#footer .foot-top ul span{
	display: block;
	float: left;
}
#footer .foot-top li  .text{
	font-size: 18px;
	line-height: 54px;
	color: #fff;
}
#footer .foot-top li  .img{
	width: 54px;
	height: 54px;
	background-image: url(../images/img.png);
	background-repeat: no-repeat;
	margin: 0 10px;
}
#footer .foot-top  .fic0_1{
	background-position: 0 0;
}
#footer .foot-top  .fic0_2{
	background-position: -188px 0;
}
#footer .foot-top  .fic0_3{
	background-position: -126px 0;
}
#footer .foot-top  .fic0_4{
	background-position: -63px 0;
}

#footer .foot-center{
	padding-top: 25px;
	padding-bottom: 20px;
}
#footer .foot-center a{
	color: #d0d0d0;
	text-decoration: none;
	outline: none;
}
#footer .foot-center a:hover{
	color: #e70014;
}
.foot-center .foot-left{
	float: left;
}
.foot-right,.foot-link{
	float: right;
}
.foot-center .foot-left dl{
	float: left;
	width: 110px;
	margin-right: 20px;
}
.foot-center .foot-left dt{
	font-size: 16px;
	margin-bottom: 8px;
}
.foot-center .foot-left dd{
	font-size: 14px;
	margin-left: 0px;
}
#footer .foot-right{
	width: 87px;
	padding: 5px;
	color: #333;
	text-align: center;
	background-color: #cecece;
	margin-left: 20px;
}
#footer .foot-right figcaption{
	margin-top: 5px;
}
#footer .foot-link .yy_title{
	margin-top: 15px;
	text-align: right;
}

#footer .foot-link .foth_tel{
	font-size: 26px;
	color: #e70014;
	line-height: 40px;
	text-align: right;
}

#footer .foot-bottom{
	margin-top: 20px;
	background: #3b3b3b;
	color: #d0d0d0;
	text-align: center;
	line-height: 60px;
	border-top: 1px solid #585858;
}
#footer .foot-bottom a{
	text-decoration: none;
	color: #d0d0d0;
	transition: all 0.3s ease;
}
#footer .foot-bottom a:hover{
	text-decoration: underline;
}
.main-banner{

}
.main-banner .side-product{
    float: left;
}
.side-product h1{
	display: none;/*隐藏*/
}
.side-product ul{
	width: 212px;
	border-left:  1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color:#fff;
}
.side-product ul a{
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: #272727;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #ddd;
	background-image: url(../images/22.png);
	background-repeat: no-repeat;
	background-position: right 9px;/*使图标在a标签的右边9像素*/
	padding-left:30px;         
}
.side-product ul a:hover{
	border-left:1px solid #e70014;
	background-color: #F1F1F1;
    color: #e70014;
    background-position: right -49px;/*让图片紧贴右边*/
}
.banner{
	float: left;
	width: 730px;
	height: 400px;
	/*position: relative;*/
	overflow: hidden;/*有溢出时隐藏*/
}
.side-news{
	float: right;
	width: 253px;
	height: 400px;
	background-color: #fff;
	color: #555;
}
.side-news .wrapper{
	padding:20px 25px;
	border-bottom: 1px solid #ddd;
}
.news-top-date,.news-top-lan{
	float: left;
}
.news-top-date span{
	display: block;
	float: left;
}
.news-top-date{
	border: 1px solid #e70014;
}
.news-top-date .y-m{
	text-align: center;
	width: 50px;
	height: 42px;
	color: #fff;
	background-color: #e70014;
	line-height: 18px;
	font-size: 16px;
	padding-top: 8px;/*18*2+8*2=42*/
}
.news-top-date .d{
	height: 50px;
	text-align: center;
	line-height: 50px;
	width: 42px;
	color: #e70014;
	font-size: 26px;
}
.news-top-lan{
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
}
.news-top-lan span{
	display: block;
}
.news-top-lan .t1{
    padding: 5px 0;
}
.news-top-lan .t2{
    font-size: 20px;
    font-weight: normal;
}
.news-top-lan .t2 em{
	font-size: 14px;
	font-weight: normal;
}
.news-list{
	margin: 15px;
}
.news-list li a{
	text-decoration: none;
	display: block;/*将行级元素转换为块级元素*/
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #333;
	font-size: 15px;
	white-space: nowrap;/*不换行*/
	overflow: hidden;
	text-overflow: ellipsis;

}
.news-list li:nth-child(2n+1){
	background-color: #F4F4F4;
}
.news-list li a span{
	display:inline-block;/*行内块，可以在一行，同时可设宽高*/
    line-height: 20px;
	width: 20px;
	height: 20px;
	background-color: #929292;
	text-align: center;
	color: #FFFFED;
	font-size: 16px;
	font-weight: bold;
	margin-right: 6px;
}
.news-list li a:hover{
	color: #e70014;
	text-decoration: underline;
	text-decoration-color:#e70014;
}
.news-list li a:hover span{
	background-color:#e70014; 
}
.picture{
    margin-top: 20px;
}
.picture .pt{
    float: left;
    margin-right: 10px;
}
.picture .pp{
	float: right;
}
.main-service{
     margin-bottom: 30px;
}
.top-location{
	margin-bottom: 15px;
}
.top-location .left{
	float: left;
}
.top-location .right a{
	display:inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	color: #fff;

}
.top-location .right .bx{
	background-color: #ff9900;
}
.top-location .right .yy{
	background-color: #b8b8b8;
}
.fix:before,.fix:after{
	display: table;
	clear: both;
	content: '';
}/*伪类选择器，清除浮动元素的影响*/

.bottom-service .left-tab{
	float: left;
	width: 215px;
	height: 388px;
	background: url(../images/jxs_bg.gif) no-repeat 0 0;
}
.left-tab ul{
	padding-top: 140px;
	padding-left: 84px;
}
.left-tab ul li{
	width: 130px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ffffff;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
.left-tab .cur_tab{
	color: #ff9900;
	background-color: #ffffff;
}

.bottom-service .right-content{
	float: right;
	width: 985px;
}
.tab-service{
	background-color: #fff;
}
.tab-service li{
	float:left;
	width: 287px;
	height: 178px;
	border: 1px solid #ddd;
	padding:15px 20px 0;	
	line-height: 28px;
	color: #555;
	border-left: none;
	position: relative;
}
.tab-service li .title{
	font-size:17px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tab-service li .title a{
	color: #ff9900;
	text-decoration: none;
}
.tab-service li .title a:hover{
	color: #e70014;
}
.tab-service li .address{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}











/*.location{
	margin-top: 10px;
	font-size: 14px;
}
.location .location-left{
	float: left;
}
.location-right a{
	display: block;
	float: right;
    text-decoration:none;
    color: #fff;
    font-size: 16px;
    width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin:5px 0  5px 10px;
	font-weight: bold;
}
*/
