@charset "utf-8";
/*网站选购区*/
.position-now{
	margin: 25px 0;
}
.search .fresh .bg{
	display: block;
	background-image: url(../images/ico.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	padding: 0 2px;
}
.fresh h1,.fresh .bg,.fresh a{
	float: left;
}
.chaxun,.sousuo{
	float: right;
}
.chaxun input{
	width: 250px;
	height: 30px;
	padding-left: 10px;
	outline: none;
}
.fresh a{
	margin-top: 10px;
}
.wrap-center .search{
	margin-bottom: 20px;
}
.wrap-center .search a{
	text-decoration: none;
	font-size: 14px;
}
.sousuo{
	width: 80px;
	height: 35px;
	line-height: 35px;
	background-color: #e70014;
	margin-left: 8px;
	text-align: center;
}
.sousuo a{
	color: #fff;
}

.introduce .introduce1{
	background-color: #fff;
	width: 290px;
	height: 370px;
	float: left;
    margin-right:13.3px;
    margin-top: 20px;
}
.introduce{
	margin-right: -13.3px;
}
.introduce img{
	margin-left: 20px;
	margin-top: 10px;
	width: 250px;
	height:200px;
	transition: all 1s ease;
}
.introduce img:hover{
	transform: scale(1.1,1.1);
}
.introduce .car1{
    font-size: 16px;
    text-align: center;
}
.introduce .car11{
	font-size: 12px;
	text-align: center;
}
.introduce .car12{
	border: 1px solid #C5BCCF;
	width: 80px;
	height: 20px;
	line-height: 20px;
	margin-left: 110px;
	text-align: center;
}
.introduce .car13{
	font-size: 20px;
	text-align: center;
	color: #e70014;
}
.introduce .car1 a{
	text-decoration: none;
	color: #111;
}
.introduce a{
	text-decoration: none;
}
.introduce .car1,.car11,.car12,.car13{
    padding: 5px 0;
}
.introduce a:hover{
	color: #e70014;
}
.introduce .car12:hover{
	border-color: #e70014;
}
.category{
	margin: 30px 0;
}
.category1{
	background-image: url(../images/20151217162151_675.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.-more{
	width: 180px;
	height: 120px;
	position: absolute;
	top:10px;
	left: 20px;
}
.-more li{
	padding-top: 8px;
}
.-more a{
	text-decoration: none;
}
.-more .-more-1 a{
	font-weight: bold;
	font-size: 30px;
	color: #3E2100;
}
.-more .-more-2 a{
	font-size: 14px;
	color: #3E2100
}
.-more .-more-3 a{
	font-size: 14px;
}
.-more .-more-3 a:hover{
	color: #e70014;
}
.-more .-more-2 a:hover{
	color: #e70014;
}
.category2{
	margin-left: 20px;
}
.category2 li{
	float: left;
	width: 240px;
	height: 314px;
	background-color: #fff;
    margin-right: 0px;
    border:1px solid #f1f1f1;
}
.category2 img{
	padding-top: 10px;
	width: 222px;
	height:180px;
	transition: all 1s ease;
}
.category2 img:hover{
	transform:scale(1,1.1); 
}

.category2 a{
	text-decoration: none;
}
.category2 .c1{
    font-size:16px;
    text-align: center; 
    color: #111;
}
.category2 .c2{
    font-size: 12px;
    text-align: center;
}
.category2 .c3{
    border: 1px solid #C5BCCF;
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-left: 70px;
	text-align: center;
}
.category2 .c4{
	font-size: 18px;
	text-align: center;
	color: #e70014;

}
.category2 li:hover{
	border-color: #e70014;
}
.category2 li:hover .c3{
	border-color: #e70014;
	color: #e70014;
}







.category1-1{
	background-image: url(../images/20151217162544_181.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.category1-2{
	background-image: url(../images/20151217163340_982.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.category1-3{
	background-image: url(../images/mhy-132g0-b219-0.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.category1-4{
	background-image: url(../images/20151217163644_130.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.category1-5{
	background-image: url(../images/20151217163841_413.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.category1-6{
	background-image: url(../images/20151217164304_576.jpg);
	background-repeat: no-repeat;
	width: 222px;
	height: 314px;
	position: relative;
	float: left;
	margin-right: 10px;
}